.country-cards {
  @include breakpoint(large) {
    min-height: 50vh;
  }
  @include breakpoint(xlarge) {
    min-height: 60vh;
  }
  .cant-find {
    color: var(--secondary-o);
  }
  .country {
    &-flag {
      height: rem(140);
      width: 100%;
    }
    &-name {
      font-weight: $fw-bold;
      font-size: rem(16);
    }
    &-card {
      width: 80%;
      min-height: rem(320);
      margin: 0 auto;
      border-radius: rem(5);
      overflow: hidden;
      background-color: var(--primary-o);
      box-shadow: var(--custom-shadow-sm);
      @include breakpoint(small) {
        width: 100%;
        margin: 0;
      }
    }
    &-info {
      font-size: rem(14);
      padding: rem(25) rem(20) 0 rem(20);
      background-color: var(--primary-o);
      color: var(--secondary-o);
      @include breakpoint(small) {
        padding: rem(20) rem(15) rem(25) rem(15);
      }
      p {
        margin-bottom: rem(4);
      }
      span {
        color: var(--text-detail);
      }
    }
  }
}
